body {
    background-image: url("pics/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    background-color: rgb(230,175,154, 0.8);
}
.jumbotron{
    background-color: rgb(200,200,200, 0.6);
    padding: 2rem 2rem ;
}
.col-4{
    background-color:  rgb(200,200,200, 0.6);
}
}
.btn{
    border-radius: 1em;
}

