body {
    background-image: url("pics/like.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    background-color: rgb(230,175,154, 0.8);
    position: fixed;
    width: 100vw;
    top: 0;
}
.jumbotron{
    background-color: rgb(200,200,200, 0.6);
    padding: 2rem 2rem ;
    padding-top: 56px;
}
.col-4{
    padding: 0;
    background-color:  rgb(175,175,175, 0.7);
    border-radius: 10em 0em 0em 10em;
}
.album1{
    border-radius: 1em;
    width: 76%;
    display: flex;
    margin: 5rem 5rem 5rem 2rem;
}
.audio{
    margin:0;
}
.col-6{
    background-color:  rgb(200,200,200, 0.6);
    padding: 0;
    border-radius: 0em 0em 0em 0em;
}
.btn{
    border-radius: 1em;
}
.col-2{
    border-radius: 0em 10em 10em 0em;
    background-color:  rgba(195,100,250, 0.3);
}



