body {
    background-image: url("pics/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    background-color: rgb(230,175,180, 0.8);
}
.jumbotron{
    background-color: rgb(200,200,200, 0.6);
}

